<!--====== NAVBAR FIVE PART START ======-->

<section class="navbar-area navbar-five">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="index.html">
            <%= image_tag "white-logo.svg", alt: "Logo" %>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFive"
                  aria-controls="navbarFive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="page-scroll active" href="#hero">Home</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#testimonial">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- navbar -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== NAVBAR FIVE PART ENDS ======-->

<!-- Start header Area -->
<section id="hero" class="header-area header-eleven">
  <%= image_tag "header/img-wave.png", alt: "#", class: "shape" %>
  <!-- Single Slider -->
  <div class="header-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 co-12">
          <div class="home-slider">
            <div class="header-text">
              <h1>App Landing Page by Ayro UI Components</h1>
              <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since.
              </p>
              <div class="button light-rounded-buttons">
                <a href="javascript:void(0)" class="btn primary-btn"> Download Now </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="mobile-screen">
            <%= image_tag "header/app-overview.png", alt: "#" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End header Area -->

<!--====== CLIENT LOGO PART START ======-->

<section class="client-logo-area client-logo-three">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="single-client text-center">
          <%= image_tag "client-logo/graygrids.svg", alt: "Logo" %>
        </div>
        <!-- single client -->
      </div>
      <div class="col-md-3 col-6">
        <div class="single-client text-center">
          <%= image_tag "client-logo/uideck.svg", alt: "Logo" %>
        </div>
        <!-- single client -->
      </div>
      <div class="col-md-3 col-6">
        <div class="single-client text-center">
          <%= image_tag "client-logo/ayroui.svg", alt: "Logo" %>
        </div>
        <!-- single client -->
      </div>
      <div class="col-md-3 col-6">
        <div class="single-client text-center">
          <%= image_tag "client-logo/lineicons.svg", alt: "Logo" %>
        </div>
        <!-- single client -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== CLIENT LOGO PART ENDS ======-->

<!-- Start Features Area -->
<section id="features" class="features-area features-twelve">
  <!--======  Start Section Title Two ======-->
  <div class="section-title-two">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <span>Features</span>
            <h2 class="fw-bold">Checkout Our Software
              Features Below.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Two ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Feature -->
        <div class="features-style-twelve">
          <div class="feature-icon">
            <i class="lni lni-rocket"></i>
          </div>
          <h4>Super Fast</h4>
          <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolor
          </p>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Feature -->
        <div class="features-style-twelve">
          <div class="feature-icon">
            <i class="lni lni-wechat"></i>
          </div>
          <h4>Live Chat</h4>
          <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolor
          </p>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Feature -->
        <div class="features-style-twelve">
          <div class="feature-icon">
            <i class="lni lni-layers"></i>
          </div>
          <h4>Secure Data</h4>
          <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolor
          </p>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Feature -->
        <div class="features-style-twelve">
          <div class="feature-icon">
            <i class="lni lni-timer"></i>
          </div>
          <h4>Optimize Time</h4>
          <p>
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolor
          </p>
        </div>
        <!-- End Single Feature -->
      </div>
    </div>
  </div>
</section>
<!-- /End Features Area -->

<!-- Start About Eight Area -->
<section id="about" class="about-us about-eight">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="content">
          <div class="icon">
            <i class="lni lni-grid-alt"></i>
          </div>
          <h3 class="fw-bold">
            We have powerfull dashbord<br />
            that help check your daily status
          </h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt.
          </p>
          <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even
            slightly believable.
          </p>
          <div class="light-rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn-outline">Try a demo</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="right">
          <%= image_tag "about/app-image.jpg", alt: "image" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /End About Eight Area -->

<!--====== VIDEO ONE PART START ======-->

<section class="video-area video-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="video-title text-center">
          <h5>Promo Video</h5>
          <h2>Watch Our App Features</h2>
          <p class="text-lg">
            Firsthand accounts from leaders who have changed the world we
            live in and the entrepreneurs shaping tomorrow’s world.
          </p>
        </div>
        <!-- video title -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="video-content text-center">
          <%= image_tag "video/video-bg.jpg", alt: "Video" %>
          <a class="video-popup glightbox" href="https://www.youtube.com/watch?v=NJbXptdalP0">
            <i class="lni lni-play"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== VIDEO ONE PART ENDS ======-->


<!--====== PRICING STYLE THIRTEEN START ======-->

<section id="pricing" class="pricing-area pricing-thirteen">
  <!--======  Start Section Title Two ======-->
  <div class="section-title-two">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <span>Our Pricing</span>
            <h2 class="fw-bold">Our Simple Pricing</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Two ======-->
  <div class="container">
    <div class="row g-0 justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="pricing-style-thirteen text-center pricing-color-1">
          <div class="pricing-price">
            <h3 class="price">$50<span>/Month</span></h3>
          </div>
          <div class="pricing-title">
            <span class="badge">20% Off</span>
            <h4 class="title">Basic</h4>
          </div>
          <div class="pricing-list">
            <ul>
              <li>Full Access</li>
              <li>Unlimited Bandwidth</li>
              <li>50 gb Space</li>
              <li>1 Month Support</li>
            </ul>
          </div>
          <div class="pricing-btn rounded-buttons">
            <a class="btn primary-btn-outline rounded-full" href="javascript:void(0)">
              Sign Up Now !
            </a>
          </div>
        </div>
        <!-- pricing-style-thirteen -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="pricing-style-thirteen text-center pricing-active pricing-color-2">
          <div class="pricing-price">
            <h3 class="price">$199<span>/Month</span></h3>
          </div>
          <div class="pricing-title">
            <span class="badge">Special</span>
            <h4 class="title">Standard</h4>
          </div>
          <div class="pricing-list">
            <ul>
              <li>Full Access</li>
              <li>Unlimited Bandwidth</li>
              <li>50 gb Space</li>
              <li>1 Month Support</li>
            </ul>
          </div>
          <div class="pricing-btn rounded-buttons">
            <a class="btn primary-btn rounded-full" href="javascript:void(0)">
              Sign Up Now !
            </a>
          </div>
        </div>
        <!-- pricing-style-thirteen -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="pricing-style-thirteen text-center pricing-color-3">
          <div class="pricing-price">
            <h3 class="price">$599<span>/Month</span></h3>
          </div>
          <div class="pricing-title">
            <span class="badge">New</span>
            <h4 class="title">Premium</h4>
          </div>
          <div class="pricing-list">
            <ul>
              <li>Full Access</li>
              <li>Unlimited Bandwidth</li>
              <li>50 gb Space</li>
              <li>1 Month Support</li>
            </ul>
          </div>
          <div class="pricing-btn rounded-buttons">
            <a class="btn primary-btn-outline rounded-full" href="javascript:void(0)">
              Sign Up Now !
            </a>
          </div>
        </div>
        <!-- pricing-style-thirteen -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== PRICING STYLE THIRTEEN ENDS ======-->

<!--====== SLIDER SEVEN PART START ======-->

<section class="slider-seven">
  <!--======  Start Section Title Two ======-->
  <div class="section-title-two">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <span>Screenshorts</span>
            <h2 class="fw-bold">App Screenshorts</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Two ======-->
  <div class="container">
    <div class="slider-items-three-wrapper">
      <div class="row slider-items-three-active">
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image1.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image2.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image3.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image4.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image5.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image6.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image7.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image3.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
        <div class="col-lg-4">
          <div class="single-items-three">
            <div class="items-image">
              <%= image_tag "screenshorts/image4.png", alt: "Image" %>
            </div>
          </div>
          <!-- single items three -->
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->
</section>

<!--====== SLIDER SEVEN PART ENDS ======-->

<!--====== CALL TO ACTION THREE PART START ======-->

<section class="call-action-area call-action-three">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="call-action-content">
          <h2 class="action-title">
            Download now and start your using our app.
          </h2>
          <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have
            alteration. </p>
          <div class="action-btn rounded-buttons">
            <a href="#0" class="btn primary-btn rounded-full">
              Download Now
            </a>
          </div>
        </div>
        <!-- call action content -->
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-2">
        <div class="call-action-content">
          <%= image_tag "call-action/cta-03.svg", alt: "call to action" %>
        </div>
        <!-- call action content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== CALL TO ACTION THREE PART ENDS ======-->

<!-- Start Team -->
<section id="team" class="team-section team-style-seven">
  <!--======  Start Section Title Two ======-->
  <div class="section-title-two">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <span>Our Team</span>
            <h2 class="fw-bold">Our Creative Team</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Two ======-->
  <div class="container">
    <div class="row">
      <!-- Single Team -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-team">
          <!-- Image -->
          <div class="shapes">
              <span class="shape1">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.9 38"
                     style="enable-background: new 0 0 71.9 38" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M7.8,3.9c0,1.6-1.3,2.9-2.9,2.9s-3-1.2-3-2.9S3.1,1,4.7,1l0,0C6.4,1,7.7,2.3,7.8,3.9C7.8,3.8,7.8,3.9,7.8,3.9z
	 M23.3,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9S18.8,1,20.4,1l0,0C22,1,23.3,2.3,23.3,3.9z M38.8,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S34.3,1,35.9,1l0,0C37.6,1,38.8,2.3,38.8,3.9L38.8,3.9z M54.5,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S49.9,1,51.5,1l0,0C53.1,1,54.5,2.3,54.5,3.9L54.5,3.9z M70,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9
	S65.5,1,67.1,1l0,0C68.8,1,70,2.3,70,3.9L70,3.9z M7.7,19c0,1.6-1.3,2.9-2.9,2.9C3.3,21.9,2,20.6,2,19s1.2-2.8,2.8-2.9l0,0
	C6.4,16.1,7.7,17.4,7.7,19C7.8,19,7.8,19,7.7,19L7.7,19z M23.3,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C22,16.1,23.3,17.4,23.3,19L23.3,19z M38.8,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C37.6,16.1,38.8,17.4,38.8,19L38.8,19z M54.5,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C53.1,16.1,54.5,17.4,54.5,19L54.5,19z M70,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0C68.8,16.1,70,17.4,70,19
	L70,19z M7.7,34.1c0,1.6-1.3,2.9-2.9,2.9C3.3,37.1,2,35.8,2,34.2s1.3-2.9,2.9-2.9l0,0C6.4,31.2,7.7,32.5,7.7,34.1
	C7.8,34.1,7.8,34.1,7.7,34.1L7.7,34.1z M23.3,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C22,31.2,23.3,32.5,23.3,34.1L23.3,34.1z M38.8,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C37.6,31.2,38.8,32.5,38.8,34.1L38.8,34.1z M54.5,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C53.1,31.2,54.5,32.5,54.5,34.1L54.5,34.1z M70,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C68.8,31.2,70,32.5,70,34.1L70,34.1z" />
                </svg>
              </span>
            <span class="shape2">
                <?xml version="1.0" encoding="utf-8"?>
              <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.5 24.5"
                     style="enable-background: new 0 0 24.5 24.5" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M0.4,24V0.4H24C24,13.4,13.4,24,0.4,24z" />
                  <title>shape1</title>
                </svg>
              </span>
            <div class="image">
              <%= image_tag "team/team-1.jpg", alt: "#" %>
            </div>
          </div>
          <!-- End Image -->
          <div class="info-head">
            <!-- Info Box -->
            <div class="info-box">
              <h4 class="name">Dahlia Moore</h4>
              <span class="designation">Senior Manager</span>
            </div>
            <!-- End Info Box -->
            <!-- Social -->
            <div class="social-links">
              <ul class="social">
                <li>
                  <a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-twitter-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-behance-original"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social -->
          </div>
        </div>
      </div>
      <!-- End Single Team -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-team">
          <!-- Image -->
          <div class="shapes">
              <span class="shape1">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.9 38"
                     style="enable-background: new 0 0 71.9 38" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M7.8,3.9c0,1.6-1.3,2.9-2.9,2.9s-3-1.2-3-2.9S3.1,1,4.7,1l0,0C6.4,1,7.7,2.3,7.8,3.9C7.8,3.8,7.8,3.9,7.8,3.9z
	 M23.3,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9S18.8,1,20.4,1l0,0C22,1,23.3,2.3,23.3,3.9z M38.8,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S34.3,1,35.9,1l0,0C37.6,1,38.8,2.3,38.8,3.9L38.8,3.9z M54.5,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S49.9,1,51.5,1l0,0C53.1,1,54.5,2.3,54.5,3.9L54.5,3.9z M70,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9
	S65.5,1,67.1,1l0,0C68.8,1,70,2.3,70,3.9L70,3.9z M7.7,19c0,1.6-1.3,2.9-2.9,2.9C3.3,21.9,2,20.6,2,19s1.2-2.8,2.8-2.9l0,0
	C6.4,16.1,7.7,17.4,7.7,19C7.8,19,7.8,19,7.7,19L7.7,19z M23.3,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C22,16.1,23.3,17.4,23.3,19L23.3,19z M38.8,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C37.6,16.1,38.8,17.4,38.8,19L38.8,19z M54.5,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C53.1,16.1,54.5,17.4,54.5,19L54.5,19z M70,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0C68.8,16.1,70,17.4,70,19
	L70,19z M7.7,34.1c0,1.6-1.3,2.9-2.9,2.9C3.3,37.1,2,35.8,2,34.2s1.3-2.9,2.9-2.9l0,0C6.4,31.2,7.7,32.5,7.7,34.1
	C7.8,34.1,7.8,34.1,7.7,34.1L7.7,34.1z M23.3,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C22,31.2,23.3,32.5,23.3,34.1L23.3,34.1z M38.8,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C37.6,31.2,38.8,32.5,38.8,34.1L38.8,34.1z M54.5,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C53.1,31.2,54.5,32.5,54.5,34.1L54.5,34.1z M70,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C68.8,31.2,70,32.5,70,34.1L70,34.1z" />
                </svg>
              </span>
            <span class="shape2">
                <?xml version="1.0" encoding="utf-8"?>
              <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.5 24.5"
                     style="enable-background: new 0 0 24.5 24.5" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M0.4,24V0.4H24C24,13.4,13.4,24,0.4,24z" />
                  <title>shape1</title>
                </svg>
              </span>
            <div class="image">
              <%= image_tag "team/team-2.jpg", alt: "#" %>
            </div>
          </div>
          <!-- End Image -->
          <div class="info-head">
            <!-- Info Box -->
            <div class="info-box">
              <h4 class="name">Jhone digo</h4>
              <span class="designation">App Developer</span>
            </div>
            <!-- End Info Box -->
            <!-- Social -->
            <div class="social-links">
              <ul class="social">
                <li>
                  <a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-twitter-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-behance-original"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social -->
          </div>
        </div>
      </div>
      <!-- End Single Team -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-team">
          <!-- Image -->
          <div class="shapes">
              <span class="shape1">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.9 38"
                     style="enable-background: new 0 0 71.9 38" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M7.8,3.9c0,1.6-1.3,2.9-2.9,2.9s-3-1.2-3-2.9S3.1,1,4.7,1l0,0C6.4,1,7.7,2.3,7.8,3.9C7.8,3.8,7.8,3.9,7.8,3.9z
	 M23.3,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9S18.8,1,20.4,1l0,0C22,1,23.3,2.3,23.3,3.9z M38.8,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S34.3,1,35.9,1l0,0C37.6,1,38.8,2.3,38.8,3.9L38.8,3.9z M54.5,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S49.9,1,51.5,1l0,0C53.1,1,54.5,2.3,54.5,3.9L54.5,3.9z M70,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9
	S65.5,1,67.1,1l0,0C68.8,1,70,2.3,70,3.9L70,3.9z M7.7,19c0,1.6-1.3,2.9-2.9,2.9C3.3,21.9,2,20.6,2,19s1.2-2.8,2.8-2.9l0,0
	C6.4,16.1,7.7,17.4,7.7,19C7.8,19,7.8,19,7.7,19L7.7,19z M23.3,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C22,16.1,23.3,17.4,23.3,19L23.3,19z M38.8,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C37.6,16.1,38.8,17.4,38.8,19L38.8,19z M54.5,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C53.1,16.1,54.5,17.4,54.5,19L54.5,19z M70,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0C68.8,16.1,70,17.4,70,19
	L70,19z M7.7,34.1c0,1.6-1.3,2.9-2.9,2.9C3.3,37.1,2,35.8,2,34.2s1.3-2.9,2.9-2.9l0,0C6.4,31.2,7.7,32.5,7.7,34.1
	C7.8,34.1,7.8,34.1,7.7,34.1L7.7,34.1z M23.3,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C22,31.2,23.3,32.5,23.3,34.1L23.3,34.1z M38.8,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C37.6,31.2,38.8,32.5,38.8,34.1L38.8,34.1z M54.5,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C53.1,31.2,54.5,32.5,54.5,34.1L54.5,34.1z M70,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C68.8,31.2,70,32.5,70,34.1L70,34.1z" />
                </svg>
              </span>
            <span class="shape2">
                <?xml version="1.0" encoding="utf-8"?>
              <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.5 24.5"
                     style="enable-background: new 0 0 24.5 24.5" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M0.4,24V0.4H24C24,13.4,13.4,24,0.4,24z" />
                  <title>shape1</title>
                </svg>
              </span>
            <div class="image">
              <%= image_tag "team/team-3.jpg", alt: "#" %>
            </div>
          </div>
          <!-- End Image -->
          <div class="info-head">
            <!-- Info Box -->
            <div class="info-box">
              <h4 class="name">Zara tingo</h4>
              <span class="designation">Web Developer</span>
            </div>
            <!-- End Info Box -->
            <!-- Social -->
            <div class="social-links">
              <ul class="social">
                <li>
                  <a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-twitter-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-behance-original"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social -->
          </div>
        </div>
      </div>
      <!-- End Single Team -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-team">
          <!-- Image -->
          <div class="shapes">
              <span class="shape1">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 71.9 38"
                     style="enable-background: new 0 0 71.9 38" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M7.8,3.9c0,1.6-1.3,2.9-2.9,2.9s-3-1.2-3-2.9S3.1,1,4.7,1l0,0C6.4,1,7.7,2.3,7.8,3.9C7.8,3.8,7.8,3.9,7.8,3.9z
	 M23.3,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9S18.8,1,20.4,1l0,0C22,1,23.3,2.3,23.3,3.9z M38.8,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S34.3,1,35.9,1l0,0C37.6,1,38.8,2.3,38.8,3.9L38.8,3.9z M54.5,3.9c0,1.6-1.3,2.9-2.9,2.9
	c-1.6,0-2.9-1.3-2.9-2.9S49.9,1,51.5,1l0,0C53.1,1,54.5,2.3,54.5,3.9L54.5,3.9z M70,3.9c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9
	S65.5,1,67.1,1l0,0C68.8,1,70,2.3,70,3.9L70,3.9z M7.7,19c0,1.6-1.3,2.9-2.9,2.9C3.3,21.9,2,20.6,2,19s1.2-2.8,2.8-2.9l0,0
	C6.4,16.1,7.7,17.4,7.7,19C7.8,19,7.8,19,7.7,19L7.7,19z M23.3,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C22,16.1,23.3,17.4,23.3,19L23.3,19z M38.8,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C37.6,16.1,38.8,17.4,38.8,19L38.8,19z M54.5,19c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0
	C53.1,16.1,54.5,17.4,54.5,19L54.5,19z M70,19c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9l0,0C68.8,16.1,70,17.4,70,19
	L70,19z M7.7,34.1c0,1.6-1.3,2.9-2.9,2.9C3.3,37.1,2,35.8,2,34.2s1.3-2.9,2.9-2.9l0,0C6.4,31.2,7.7,32.5,7.7,34.1
	C7.8,34.1,7.8,34.1,7.7,34.1L7.7,34.1z M23.3,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C22,31.2,23.3,32.5,23.3,34.1L23.3,34.1z M38.8,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C37.6,31.2,38.8,32.5,38.8,34.1L38.8,34.1z M54.5,34.1c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C53.1,31.2,54.5,32.5,54.5,34.1L54.5,34.1z M70,34.1c0,1.6-1.3,2.9-2.9,2.9s-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9l0,0
	C68.8,31.2,70,32.5,70,34.1L70,34.1z" />
                </svg>
              </span>
            <span class="shape2">
                <?xml version="1.0" encoding="utf-8"?>
              <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.5 24.5"
                     style="enable-background: new 0 0 24.5 24.5" xml:space="preserve">
                  <style type="text/css">
                      .st0 {
                          fill: #3763eb;
                      }
                  </style>
                  <path class="st0" d="M0.4,24V0.4H24C24,13.4,13.4,24,0.4,24z" />
                  <title>shape1</title>
                </svg>
              </span>
            <div class="image">
              <%= image_tag "team/team-4.jpg", alt: "#" %>
            </div>
          </div>
          <!-- End Image -->
          <div class="info-head">
            <!-- Info Box -->
            <div class="info-box">
              <h4 class="name">David Zone</h4>
              <span class="designation">SEO Expert</span>
            </div>
            <!-- End Info Box -->
            <!-- Social -->
            <div class="social-links">
              <ul class="social">
                <li>
                  <a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-twitter-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-linkedin-original"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-behance-original"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social -->
          </div>
        </div>
      </div>
      <!-- End Single Team -->
    </div>
  </div>
</section>
<!--/ End Team Area -->

<!-- Start Testimonials Section -->
<section id="testimonial" class="testimonial-7">
  <div class="container">
    <div class="testimonial-slider-head">
      <div class="testimonial-slider">
        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 col-12">
              <div class="testimonial-content">
                <i class="lni lni-quotation"></i>
                <h2>
                  We move at a fast <br />pace. I’m always working <br />on
                  something I'am excited about!
                </h2>
                <div class="bottom">
                  <h4 class="name">
                    Martin Oslo <span>Product Designer</span>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12">
              <div class="testimonial-image">
                <%= image_tag "testimonial/author-1.jpg", alt: "Author" %>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Single Testimonial -->
        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 col-12">
              <div class="testimonial-content">
                <i class="lni lni-quotation"></i>
                <h2>
                  We move at a fast <br />pace. I’m always working <br />on
                  something I'am excited about!
                </h2>
                <div class="bottom">
                  <h4 class="name">
                    Zaklin lee <span>Graphics Designer</span>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12">
              <div class="testimonial-image">
                <%= image_tag "testimonial/author-2.jpg", alt: "Author" %>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Single Testimonial -->
        <!-- Single Testimonial -->
        <div class="single-testimonial">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 col-12">
              <div class="testimonial-content">
                <i class="lni lni-quotation"></i>
                <h2>
                  We move at a fast <br />pace. I’m always working <br />on
                  something I'am excited about!
                </h2>
                <div class="bottom">
                  <h4 class="name">
                    Gerina pic <span>Website Designer</span>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12">
              <div class="testimonial-image">
                <%= image_tag "testimonial/author-3.jpg", alt: "Author" %>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Single Testimonial -->
      </div>
    </div>
  </div>
</section>
<!-- /End Testimonials Section -->

<!-- Start Contact Area -->
<section id="contact" class="contact-us">
  <!--======  Start Section Title Two ======-->
  <div class="section-title-two">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <span>Contact Us</span>
            <h2 class="fw-bold">Need Any Help?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
              eiusmod tempor incididunt ut labore aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Two ======-->
  <div class="container">
    <div class="contact-head">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <form class="form" method="post" action="#">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <input name="name" type="text" placeholder="Your Name" required="required" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <input name="subject" type="text" placeholder="Your Subject" required="required" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <input name="email" type="email" placeholder="Your Email" required="required" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <input name="phone" type="text" placeholder="Your Phone" required="required" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group message">
                      <textarea name="message" placeholder="Your Message"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group light-rounded-buttons">
                      <button type="submit" class="btn primary-btn">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="contact-info">
              <div class="single-head">
                <div class="single-info">
                  <i class="lni lni-map-marker"></i>
                  <ul>
                    <li><span>Location</span></li>
                    <li>76/A, Green valle, Califonia <br />United State</li>
                  </ul>
                </div>
                <div class="single-info">
                  <i class="lni lni-phone"></i>
                  <ul>
                    <li><span>Call Us</span></li>
                    <li><a href="javascript:void(0)">+1 756 445 5658</a></li>
                    <li><a href="javascript:void(0)">+1 125 458 5555</a></li>
                  </ul>
                </div>
                <div class="single-info">
                  <i class="lni lni-envelope"></i>
                  <ul>
                    <li><span>Mail Us</span></li>
                    <li>
                      <a href="javascript:void(0)"> support@yourmail.com </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"> contact@yourmail.com </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Contact Area -->

<!--====== FOOTER SIX PART START ======-->

<footer class="footer-area footer-six">
  <div class="footer-widget">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-12">
          <div class="f-about">
            <div class="footer-logo">
              <a href="index.html">
                <%= image_tag "white-logo.svg", alt: "Logo" %>
              </a>
            </div>
            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="footer-support">
              <span class="number"><i class="lni lni-phone-set"></i> +8801234567890</span>
              <span class="mail"><i class="lni lni-envelope"></i> support@uideck.com</span>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Company</h6>
            <ul>
              <li><a href="javascript:void(0)">About</a></li>
              <li><a href="javascript:void(0)">Contact</a></li>
              <li><a href="javascript:void(0)">Marketing</a></li>
              <li><a href="javascript:void(0)">Awards</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Services</h6>
            <ul>
              <li><a href="javascript:void(0)">Products</a></li>
              <li><a href="javascript:void(0)">Business</a></li>
              <li><a href="javascript:void(0)">Developer</a></li>
              <li><a href="javascript:void(0)">Insights</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Help & Suuport</h6>
            <ul>
              <li><a href="javascript:void(0)">Support Center</a></li>
              <li><a href="javascript:void(0)">FAQ</a></li>
              <li><a href="javascript:void(0)">Terms & Conditions</a></li>
              <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-app-store">
            <h6 class="footer-title">Download Our App</h6>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <%= image_tag "footer/app-store-white.svg", alt: "app" %>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <%= image_tag "footer/play-store-white.svg", alt: "play" %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer widget -->

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center d-md-flex justify-content-between align-items-center">
            <p class="text">Copyright © 2024 Ayro UI. All Rights Reserved</p>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-twitter-original"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="lni lni-instagram-filled"></i> </a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
          <!-- copyright -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer copyright -->
</footer>

<!--====== FOOTER SIX PART ENDS ======-->


<div class="made-in-ayroui mt-4">
  <a href="https://ayroui.com" target="_blank" rel="nofollow">
    <%= image_tag "ayroui.svg" %>
  </a>
</div>

<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>

<script>

  //========= glightbox
  GLightbox({
    'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
    'type': 'video',
    'source': 'youtube', //vimeo, youtube or local
    'width': 900,
    'autoplayVideos': true,
  });

  //======== Screenshorts Slider
  tns({
    autoplay: true,
    autoplayButtonOutput: false,
    mouseDrag: true,
    gutter: 0,
    container: ".slider-items-three-active",
    center: false,
    nav: true,
    navPosition: "bottom",
    speed: 400,
    controlsText: [
      '<i class="lni lni-arrow-left"></i>',
      '<i class="lni lni-arrow-right"></i>',
    ],
    responsive: {
      0: {
        items: 1,
        controls: false,
      },

      768: {
        items: 3,
        controls: true,
      },
      992: {
        items: 4,
        controls: false,
      },
    },
  });

  //========= testimonial
  tns({
    container: ".testimonial-slider",
    items: 1,
    autoplay: true,
    autoplayButtonOutput: false,
    mouseDrag: true,
    gutter: 0,
    nav: false,
    controls: true,
    controlsText: [
      '<i class="lni lni-arrow-left"></i>',
      '<i class="lni lni-arrow-right"></i>',
    ],
  });

</script>
